body {
  position: relative;
  min-width: 800px;
  display: grid;
}

body::before {
  position: absolute;
  content: '';
  inset: 0;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.page__heading {
  z-index: 2;
  font-family: Raleway, sans-serif;
  font-size: 116px;
  font-weight: 800;
  letter-spacing: 4.06px;
  text-align: center;
  text-transform: uppercase;
  margin: 60px auto 0;
}

.page__heading:hover {
  color: #4c4c4c;
}

.page__heading:hover::before {
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  white-space: pre;
  position: absolute;
  font-family: Raleway, sans-serif;
  color: #000;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 100% */
  letter-spacing: normal;
  border-radius: 20px;
  border: 2px solid;
  background: #fff;
  box-shadow: 0 12px;
  text-transform: none;
  top: 180px;
  right: 20px;
  padding: 36px 44px;
  text-align: start;
}

.page__heading::after {
  content: '*';
}

.page__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
